.search_clinic_div_main{
    margin: 0 80px 100px 100px ;

}

.search_clinic_div_search {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.search_clinic_div_filter {
  width: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

