.doctorsList {
    padding: 0;
    margin-top: 40px;
    align-items: flex-start;
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.doctorsList p{
  list-style: none;
  padding: 0;
  margin: 0 0 5px;
}

.doctorsList li{
  margin: 0 110px 50px 0;
}

.doctorItem {
  background-color: #EAEAEA;
  border-radius: 10px;
  border: 1px solid #78BBBB;
  padding: 20px;
  display: flex;
  align-items: center;
  width: 400px;
  flex-direction: row; /* Define a direção do flex para linha */
  align-items: center; /* Centraliza os itens verticalmente */
  gap: 15px; /* Espaço entre a imagem e o contêiner de informações */
}

.doctorInfo {
  display: flex;
  flex-direction: column;
}

.doctorName {
  font-size: 1.2rem;
  color: #333;
  margin: 0;
}

.verifiedIcon {
  color: #34c759; /* or the color of the verification checkmark */
}

.stars {
  color: #ffc107; /* Gold color for stars */
}

.address, .appointment {
  color: #626161; /* Gray text color */
  display: flex;
  align-items: center;
  gap: 5px;
}

.addressIcon, .calendarIcon {
  color: #6c757d; /* Icon color */
}

.doctorItem img {
  border-radius: 50%; /* Deixa a imagem redonda */
  width: 80px; /* Ajuste a largura conforme necessário */
  height: 80px; /* Ajuste a altura conforme necessário */
  object-fit: cover; /* Garante que a imagem cubra toda a área sem distorção */
  border: 3px solid #78BBBB; /* Borda da imagem, opcional */
  align-self: start;
}

